.header-input_border{
    border-width: 3px;
}

.header-button_border{
    border-width: 7px;
}

.header-img{
    background: url(../../images/icons_loop.png);
    border-width:3px !important;
    bottom: 40px; 
    left: 125px;
    height: 30px; 
    width: 30px;
}